<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/anduser/Desktop/MyTask"><classes><class name="ui.tests.ExchangeTests"><methods><include name="inputBuyAmountExchange"/></methods></class><class name="ui.tests.LoginTest"><methods><include name="loginTest"/></methods></class><class name="ui.tests.SecondTest"><methods><include name="searhingTest"/></methods></class><class name="ui.tests.ThirdTest"><methods><include name="searhingTest"/></methods></class></classes></test></suite>