<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="All Test Suite" parallel="methods" thread-count="5">-->
<suite name="Paysera's autotests">

    <test name="Exchange tests">
        <classes>
            <class name="ui.tests.ExchangeTests"/>
        </classes>
    </test>
</suite>